/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-966 {
    padding: var(--sectionPadding);
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light1.svg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
  }
  #services-966 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-966 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-966 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services-966 .cs-title,
  #services-966 .cs-text {
    max-width: 100%;
  }
  #services-966 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.875rem;
  }
  #services-966 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* margin top value to match the negative margin value of the .cs-icon-wrapper */
    margin: 2.75rem 0 0 0;
    /* 24px - 64px bottom */
    /* 24px - 40px left & right */
    padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
    background-color: #f7f3ee;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #services-966 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #services-966 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #services-966 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #services-966 .cs-icon-wrapper {
    width: 5.5rem;
    height: 5.5rem;
    margin: -2.75rem auto 2rem 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: calc(clamp(1.5rem, 4vw, 2.5rem) * -1);
  }
  #services-966 .cs-icon {
    width: 2.5rem;
    height: auto;
  }
  #services-966 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-966 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0 0 2rem 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-966 .cs-link {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--primary);
    position: relative;
    transition: color 0.3s;
  }
  #services-966 .cs-link:hover {
    color: #fff;
  }
  #services-966 .cs-link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
  }
  #services-966 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-966 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #services-966 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #services-966 .cs-waves {
    width: 100%;
    height: 13.875rem;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #services-966 .cs-waves img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-966 .cs-container {
    max-width: 80rem;
  }
  #services-966 .cs-card-group {
    column-gap: 1.875rem;
  }
  #services-966 .cs-item {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-957 {
    padding: var(--sectionPadding);
    padding-bottom: 0;
    background-color: #f7f7f7;
    position: relative;
  }
  #why-957 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-957 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-957 .cs-title {
    margin: 0 0 2rem 0;
    max-width: 20ch;
  }
  #why-957 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #why-957 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #why-957 .cs-button-solid:hover:before {
    width: 100%;
  }
  #why-957 .cs-card-group {
    width: 100%;
    max-width: 33.875rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  #why-957 .cs-item {
    list-style: none;
    text-align: left;
    width: 100%;
    margin: 0;
    /* 24px - 36px */
    padding: 0 0 clamp(1.5rem, 3vw, 2.25rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* 12px - 20px */
    gap: clamp(0.75rem, 1.5vw, 1.25rem);
  }
  #why-957 .cs-item:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  #why-957 .cs-icon {
    /* 32px - 40px */
    width: clamp(2rem, 2.5vw, 2.5rem);
    height: auto;
  }
  #why-957 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #why-957 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
  #why-957 .cs-picture {
    width: 100%;
    height: auto;
    /* 48px - 64px */
    margin-top: clamp(3rem, 6vw, 4rem);
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  #why-957 .cs-picture img {
    width: 100%;
    height: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-957 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #why-957 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #why-957 .cs-content {
    width: 46%;
    text-align: left;
    align-items: flex-start;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-957 .cs-picture {
    width: 59.75rem;
    height: 14.125rem;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin: 0 2.5rem 0 0;
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-976 {
    padding: var(--sectionPadding);
  }
  #pricing-976 .cs-container {
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing-976 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #pricing-976 .cs-title {
    margin: 0 0 2rem 0;
  }
  #pricing-976 .cs-menu-group {
    max-width: 39.375rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 28px - 40px */
    gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  #pricing-976 .cs-menu-item {
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #pricing-976 .cs-h3 {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 1.5rem;
  }
  #pricing-976 .cs-h3:before {
    /* grey line */
    content: "";
    width: 100%;
    height: 2px;
    background: #e8e8e8;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0.8125rem;
    left: 0;
    z-index: -1;
  }
  #pricing-976 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    max-width: 25rem;
    padding-right: 0.5rem;
    color: var(--headerColor);
    background-color: #fff;
  }
  #pricing-976 .cs-price {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    padding-left: 0.5rem;
    color: var(--headerColor);
    background-color: #fff;
  }
  #pricing-976 .cs-menu-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #pricing-976 .cs-picture {
    width: 100%;
    min-height: 23.75rem;
    display: block;
    /* sends it to the top */
    order: -1;
    position: relative;
  }
  #pricing-976 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-976 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #pricing-976 .cs-menu-group {
    width: 100%;
  }
  #pricing-976 .cs-picture {
    max-width: 32.5625rem;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-973 {
    padding: var(--sectionPadding);
  }
  #gallery-973 .cs-container {
    width: 100%;
    /* changes to 1280px at small desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-973 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-973 .cs-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #gallery-973 .cs-image {
    width: 50%;
    aspect-ratio: 1;
    /* clips the image corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #gallery-973 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-973 .cs-container {
    max-width: 80rem;
  }
  #gallery-973 .cs-image {
    width: 25%;
    height: 25rem;
  }
}

/*# sourceMappingURL=local.css.map */
