---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!--We needed to pull from Google Fonts CDN to load in the cursive font. -->
<!--Download the fonts from https://gwfh.mranftl.com/fonts and follow the steps to host it locally and remove these CDN links-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="hero-929">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Toronto Barber-Crafting Style in Every hairCut</h2>
            <div class="cs-flex">
                <div class="cs-content-group">
                    <p class="cs-text">
                        At Thomas's Barber Shop, we don't just cut hair; we create personalized experiences for each individual's unique style and preferences. 
                    </p>
                    <a href="" class="cs-button-solid">Book Now</a>
                </div>
                <div class="cs-hours-group">
                    <span class="cs-header">Business Hours</span>
                    <div class="cs-hours">
                        <span class="cs-day">Mon-Fri</span>
                        <span class="cs-time">10AM-8PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sat</span>
                        <span class="cs-time">11AM-6PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sun</span>
                        <span class="cs-time">Closed</span>
                    </div>
                </div>
            </div>
            <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
            <div class="cs-picture-group">
                <span class="cs-tagline">Since 1990</span>
                <!--Hair Model Picture-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/hero.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/hero.png">
                    <img loading="lazy" decoding="async" src="/assets/images/hero.png" alt="hair model" width="576" height="598">
                </picture>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg" alt="salon interior" width="1920" height="804">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-966">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Service</span>
            <h2 class="cs-title">What We Are Known For</h2>
            <p class="cs-text">
               Getting the basics right is what we believe in at Thomas's. It's the foundation upon which we build our signature services, ensuring every detail contributes to your ultimate grooming experience.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Hair Cuts</h3>
                <p class="cs-item-text">
                   Thomas's mastered all types of haircuts, offering everything from timeless classics to the latest trends, all tailored to fit your unique style.
                </p>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/image3.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Facial Hair</h3>
                <p class="cs-item-text">
                   Expertly sculpting beards and mustaches, Thomas enhances your facial features with precision grooming that complements your individual style.
                </p>
              
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/image1.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Hair Oil Treatments</h3>
                <p class="cs-item-text">
                    Nourish and rejuvenate your hair with Thomas's bespoke hair oil treatments, designed to bring out the natural luster and vitality of your hair.
                </p>
               
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/image4.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    <picture class="cs-waves">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-976">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">All Barber Services</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/image2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/image2.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/image2.jpg" alt="hair salon" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--               Why Choose Us                  -->
<!-- ============================================ -->

<section id="why-957">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Providing Our Customers With Quality Services</h2>
          
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/heart-gold.svg" aria-hidden="true" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                <div class="cs-flex">
                    <h3 class="cs-h3">We Love Your Hair</h3>
                    <p class="cs-item-text">
                       At Thomas's, your hair is our passion. We treat every strand with the care and respect it deserves, ensuring that your haircut and style reflect your personality and preferences.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-gold.svg" aria-hidden="true" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                <div class="cs-flex">
                    <h3 class="cs-h3">Top Quality</h3>
                    <p class="cs-item-text">
                     We believe in only using the best for your hair. Our barbershop is outfitted with premium machines and premium products to ensure your hair not only looks great but is also maintained with the highest quality care.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-gold.svg" aria-hidden="true" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                <div class="cs-flex">
                    <h3 class="cs-h3">Years of Expertise</h3>
                    <p class="cs-item-text">
                       Armed with years of know-how and a deep understanding of diverse hair types, Thomas bring's a wealth of experience to every cut, style
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hands-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hands.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hands.png" alt="hands holding accessories" width="956" height="226">
    </picture>
</section>

                                
                                
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}